*{
	margin: 0px;
	padding: 0px;	
}

header{

	margin: 100px auto;
	width: 1200px;
	height: 230px;
	background-color: red;

}

div.contenedor{

	width: 200px;
	height: 230px;
	float: left;
}

div#uno{
	background-color: rgba(208,101,3);
}

div#dos{
	background-color: rgba(233,147,26);
}

div#tres{
	background-color: rgba(22,145,190);
}

div#cuatro{
	background-color: rgba(22,107,162);
}

div#cinco{
	background-color: rgba(27,54,71);
}

div#seis{
	background-color: rgba(21,40,54);
}