*{
	margin: 0px;
	padding: 0px;	
}

header{

	margin: 100px auto;
	width: 1200px;
	height: 230px;
	background-color: rgba(255,0,0,.5);

}

div.contenedor{

	width: 200px;
	height: 230px;
	text-align: center;
	float: left;
	transition: height .5s;
}

#uno{
	background-color: rgba(208,101,3,1);	
}

div#dos{
	background-color: rgba(233,147,26,1);
}

div#tres{
	background-color: rgba(22,145,190,1);
}

div#cuatro{
	background-color: rgba(22,107,162,1);
}

div#cinco{
	background-color: rgba(27,54,71,1);
}

div#seis{
	background-color: rgba(21,40,54,1);
}


img.icon{
	display: block;
	margin: 50px auto;
	width: 40px;
	padding: 20px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.15);
}


p.texto{
	font-size: 1.2em;
	color: white;
	text-align: center;
	padding-top: 10px;
	opacity: .6;
}

div.contenedor:hover{

	height: 250px;
}