body{
	margin:0px;
}

div{

	width: 300px;
	height: 150px;
	background-color: rgba(0,0,0,.5);
	margin: 2rem auto;
	color: white;
	text-align: center;
}


p{
	padding-top: 60px;
	vertical-align: center;
	line-height: 20px;
}